<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @info.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @info.password %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
